<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Recommend Book Offers</title>
</head>

<body>
	
	<div class="container">
	
		<h3>User Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Recommend Books</p>
	
		<form action="#" th:action="@{/user/recommendBooks}"
						 th:object="${recommendationDTO}" method="POST">
			
			<input type="hidden" th:field="*{authors}" />
			
			<input type="hidden" th:field="*{categories}" />
						 
			<!-- Dropdown menu for selecting search strategy -->
    		<select th:field="*{recommendationStrategy}" class="form-control mb-4 col-4" required>
       	 		<option value="">Select Search Strategy</option>
        		<option value="authors">Favourite Authors</option>
        		<option value="categories">Favourite Categories</option>
        		<option value="composite">Composite</option>
    		</select>

			<button type="submit" class="btn btn-info col-2">Recommend</button>
		</form>
	
		<hr>
		<a th:href="@{/user/dashboard}">Back to dashboard</a>
		
	</div>
</body>

</html>
